{# use this to comment single line #}
{% comment %} use this to comment multiple line {% endcomment %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {# add bootstrap css only #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Ecommerce</title>
</head>
<body>
    {# add bootstrap example navbar from website "https://getbootstrap.com/" and make some change #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="{% url 'store' %}">Ecommerce</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="% url 'store' %">Store <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                <a href="#"class="btn btn-warning">Login</a>
                    
                <a href="{% url 'cart' %}">
                    <img  id="cart-icon" src="{% static 'images/cart-logo.png' %}">
                </a>
                <p id="cart-total">0</p>
           
            </div>
        </div>
    </nav>

    {% comment %}
        line 19 change link to store url and title name to Ecommerce
        line 27 change link to store url and make main page named Store
        line 30:Create login button.leave the link empty for now until login page created
        line 32:Create link to cart page
        line 34:Inside cart link, add shopping cart image
        line 35:Add cart total in paragraph tag with the id of "cart total"

        add a placeholder into the template and ensure that all the pages are inheriting from the main template.
        line 58-64: it's important because all product which show on the homepage from store.html etc will use it
    {% endcomment %}

    <h3>NavBar Placeholder</h3>
    <hr>

    <div class="container">
        <br>
        {% block content %}
        

        {% endblock content %}
    </div>


    {# add bootstrap for javascript for main layout styling#}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

