/* Use this to add comment in CSS */ 

body{
	background-color: hsl(0, 0%, 98%);
}

p{
	font-size: 15px;
}

.box-element{
	background-color: white;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
}

.product{
	border-radius: 0 0 4px 4px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color: white;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.quantity-css{
	display: inline-block;
	padding-right:10px;
}

.change-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
}

.change-quantity:hover{
	opacity: .6;
}

.hidden{
	display: none!important;
}